<?xml version="1.0" encoding="utf-8" ?>
<!-- Make a copy of this file and rename it app.config, then edit the connection string below for your SQL Server details -->
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionParameters"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SingerDispatch-Development;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

<!-- Production: SINDCA001;Initial Catalog=SingerDispatch-Testing;User ID=simont;Password=s1m0n7 -->