<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SingerDispatch.Properties.Settings.SingerDispatchDBConnectionString"
            connectionString="Data Source=SIMONT-MACWIN\SQLEXPRESS;Initial Catalog=SingerDispatch-Development;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>