<?xml version="1.0" encoding="utf-8" ?>
<!-- Make a copy of this file and rename it app.config, then edit the connection string below for your SQL Server details -->
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionParameters"
            connectionString="Server=BORGERSQL;Database=BorgerDispatch;User Id=BorgerDispatchApp;Password=Borger2014;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

<!-- connectionString="Server=BORGERSQL;Database=BorgerDispatch;User Id=BorgerDispatchApp;Password=Borger2014;" -->