<?xml version="1.0" encoding="utf-8"?>
<!-- Make a copy of this file and rename it app.config, then edit the connection string below for your SQL Server details -->
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionParameters" connectionString="Server=(LocalDB)\MSSQLLocalDB;Database=BorgerDispatch;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
<!-- Development: Server=(LocalDB)\MSSQLLocalDB;Database=BorgerDispatch;Integrated Security=True; -->
<!-- Production: Server=BORGERSQL.wrdborger.local;Database=BorgerDispatch;User Id=BorgerDispatchApp;Password=Borger2014; -->
