<?xml version="1.0" encoding="utf-8" ?>
<!-- Make a copy of this file and rename it app.config, then edit the connection string below for your SQL Server details -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OldDBConnectionParameters"
         connectionString="Data Source=\\PATH\TO\ORIGINAL DATABASE\SingerPrototypeDB08262005_1100.mdb"
         providerName="Microsoft.Jet.OLEDB.4.0" />
    <add name="NewDBConnectionParameters"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SingerDispatch-Development;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>